<h1>Articles</h1>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <%= calendar_for(@articles) do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :published_on) do |day, articles| %>
      <%= day.day %>
      <ul>
        <% articles.each do |article| %>
        <li><%= article.title %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>